{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li id='flash'>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<!-- Header info -->
{% block content %}
<h2 id="welcome-header">Hi {{ user.name }}</h2>

<h4 id='message'>{{message}}</h4>

<!-- User Balance Information -->
<div id="balance">
    <div>
        <h4>Available balance: ${{ user.balance }}</h4>
    </div>
</div>

<!-- Ticket information -->
<h2 >Here are all available tickets</h2>
<div id="tickets">
{% if ticket.length == 1 %}
    {% if ticket.expiration_date > 20201031 %}
    <div>
        <h4>
        Owners Email: {{ user.email }} <br>
        Name: {{ ticket.name }} <br> 
        Price: {{ ticket.price }} <br>
        Quantity: {{ticket.quantity}} <br>
        Expiration Date: {{ ticket.expiration_date }}
        </h4>
    </div>
    {% endif %}
    {% if 20201031 > ticket.expiration_date %}
    <div>
        <h4>
        Owners Email: {{ user.email }} <br>
        Name: {{ ticket.name }} <br>
        Expiration Date: {{ ticket.expiration_date }}
        </h4>
    </div>
    {% endif %}
{% endif %}

{% if ticket.length != 1 %}
{% for tickets in ticket %}
    {% if tickets.expiration_date > 20201031 %}
    <div>
        <h4>
            Owners Email: {{ user.email }} <br>
            Name: {{ tickets.name }} <br> 
            Price: {{ tickets.price }} <br>
            Quantity: {{tickets.quantity}} <br>
            Expiration Date: {{ tickets.expiration_date }}
        </h4>
    </div>
    {% endif %}
    {% if 20201031 > tickets.expiration_date %}
    <div>
        <h4>
            Owners Email: {{ user.email }} <br>
            Name: {{ tickets.name }} <br> 
            Expiration Date: {{ tickets.expiration_date }}
        </h4>
    </div>
    {% endif %}
{% endfor %}
{% endif %}
</div>

<!-- Sell Form --> 
<button id="sell_form" onclick="openFormSell()">Sell Form</button>
<form action="/sell" id="sellForm" style="display:none" method="post">
    <label for="name">Ticket Name:</label>
    <input type="text" id="name" name="name" value="">
    <br>
    <label for="quantity">Ticket Quantity:</label>
    <input type="text" id="quantity" name="quantity" value="">
    <br>
    <label for="price">Ticket Price:</label>
    <input type="text" id="price" name="price" value="">
    <br>
    <label for="expiration_date">Ticket Expiration Date:</label>
    <input type="text" id="expiration_date" name="expiration_date" value="">
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<br>

<!-- Buy Form --> 
<button id="buy_form" onclick="openFormBuy()">Buy Form</button>
<form action="/buy" id="buyForm" style="display:none" method="post">
    <label for="name">Ticket Name:</label>
    <input type="text" id="bname" name="name" value="">
    <br>
    <label for="quantity">Ticket Quantity:</label>
    <input type="text" id="bquantity" name="quantity" value="">
    <br>
    <input id="bsubmit" type="submit" value="Submit">
</form>
<br>
<br>

<!-- Update Form --> 
<button id="update_form" onclick="openFormUpdate()">Update Form</button>
<form  action="/update" id="updateForm" style="display:none" method="post">
    <label for="name">Ticket Name:</label>
    <input type="text" id="uname" name="name" value="">
    <br>
    <label for="quantity">Ticket Quantity:</label>
    <input type="text" id="uquantity" name="quantity" value="">
    <br>
    <label for="price">Ticket Price:</label>
    <input type="text" id="uprice" name="price" value="">
    <br>
    <label for="expiration_date">Ticket Expiration Date:</label>
    <input type="text" id="uexpiration_date" name="expiration_date" value="">
    <br>
    <input id="usubmit" type="submit" value="Submit">
</form>


<!-- JavaScript code to control form buttons-->
<script>
    function openFormSell(){
        var x = document.getElementById("sellForm");
        if (x.style.display === "none"){
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function openFormBuy(){
        var x = document.getElementById("buyForm");
        if (x.style.display === "none"){
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function openFormUpdate(){
        var x = document.getElementById("updateForm");
        if (x.style.display === "none"){
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<br>
<br>
<a href='/logout'>logout</a>
{% endblock %}

